:root {
    --cor-fundo: #020e1b;
    --cor-principal:#0B0D20;
    --cor-secundaria: #3BDEFD;
    --cor-destaque:#2BDEFD;
    --cor-texto: #0b7d91;
}

body {
    background-color: : var(--cor-fundo);
color: var(--cor-texto);
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
}

.caixa-principal{
    background-color: var(--cor-fundo);
    width: 90%;
    text-align: center;
    padding: 20px;
}

h1{
    color: var(--cor-destaque);

}